[Unit]
Description=OMOBUS lts service (proxy)
After=local-fs.target network.target

[Service]
#Type=forking
PIDFile=/var/run/omobus.d/omobus-proxy.pid
ExecStartPre=/bin/mkdir -m 0755 -p /var/run/omobus.d
ExecStartPre=/bin/chown omobus:omobus /var/run/omobus.d
ExecStart=/usr/local/sbin/omobusd proxy -x -u omobus -g omobus -p /var/run/omobus.d/omobus-proxy.pid
ExecStop=/bin/kill -s USR1 $MAINPID

[Install]
WantedBy=multi-user.target
